@import '../../assets/css/variables.scss';

.post {
  border-radius: 10px;
  padding: 20px 35px;

  header {
    width: 100%;
    background-color: $mainPurple;
    padding: 6px 0;

    .title, .date {
      text-align: center;
      color: white;
      margin: 0;
    }

    .date {
      font-weight: 300;
    }

    .title {
      font-size: 2.5em;

    }
  }

  img{
    display: block;
    margin: 15px auto;
    max-height: 300px;
    border-radius: 10px;
  }


  // styles for the post content below

  div {
    padding: 15px 50px;

    h1, h2, h3, h4 ,h5, h6 {
      color: #1a1a1a;
    }

    em {
      font-weight: 600;
      font-style: normal;
    }

    hr {
      border-top: 1px solid #bebebe;
    }
    p {
      color: #2e2e2e;
      font-weight: 400;
      font-size: .92em;
    }

    blockquote{
      padding: 4px 10px;
      background-color: #ebebeb;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -6px;
        bottom: 0;
        height: 100%;
        width: 6px;
        background-color: #e794dc;
      }
    }

    a {
      color: #c166f2;
      text-decoration: #a885a4 underline;
    }
  }
}